.about {
  background-color: #0a2850;
  color: white;
  padding: 100px 80px 173px 80px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  max-width: 251px;
  z-index: 1;
  position: relative;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 0 0 20px auto;
}

.about__paragraph:first-child {
  margin-top: 19px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
