.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__input::placeholder {
  padding-left: 12px;
  color: #838383;
}

.form__input {
  border: solid;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-color: #838383;
}

.form__button {
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
}
