.header {
  background-color: #ffffff;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  position: relative;
  background-position: right top;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  z-index: 1;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__span-accent {
  color: #2f80ed;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  z-index: 1;
  align-items: self-end;
}

.header__paragraph {
  margin: 0;
  padding: 0;
}
