.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}
.nav__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: #000000;
}
.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: #2f80ed;
}
