.reservation {
  padding: 100px 0 120px;
}
.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__button {
  border-radius: 4px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
}
.form__button:hover {
  opacity: 0.7;
}
.button {
  transition: opacity ease;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
  display: flex;
  justify-content: center;
}

.form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input::placeholder {
  padding-left: 12px;
}
