.page {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
  color: #000000;
  height: 100vh;
}

.header {
  background-color: #ffffff;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_header.svg");
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}
.nav__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: #000000;
}
.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}
.header__span-accent {
  color: #2f80ed;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}
.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 0;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 80px;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 0;
}
